<header id="main">Desktopify Your Web Apps!</header>
<header class="subheader">With <%= link_to image_tag('glimmer-logo-hi-res.svg', height: 30), 'https://github.com/AndyObtiva/glimmer-dsl-swt' %> Glimmer</header>
<%= link_to image_tag('glimmer-scaffolding-desktopify.png'), 'https://github.com/AndyObtiva/glimmer-dsl-swt#desktopify' %>
<header class="subheader">
  <a href="https://github.com/AndyObtiva/glimmer-dsl-swt#desktopify">Learn More Here</a>
</header>
<p>
  More details coming soon.
</p>
<footer>
  Copyright (c) 2020 Andy Maleh
</footer>
