// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
}
header#main {
  font-size: 75px;
  color: rgb(32, 47, 134)
}
header.subheader {
  font-size: 40px;
}
footer {
  font-size: 0.75em;
  font-weight: initial;
  font-style: small;
}
